<%= link_to products_path do  %>
<h1>Violeth Store</h1>
<% end %>

<%= link_to 'Add product', new_product_path if Current.user %>
<%= link_to 'Categories', categories_path if Current.user %>
<%= link_to 'Login', new_session_path unless Current.user %>
<%= link_to 'Register', new_user_path unless Current.user %>
<%= link_to 'Logout', session_path(Current.user.id), data: {
   turbo_method: :delete,
   turbo_comfirm: 'Confirm!'
} if Current.user %>